services:
  - type: web
    name: backend
    env: python
    region: oregon
    plan: free
    buildCommand: "pip install -r backend/requirements.txt"
    startCommand: "uvicorn main:app --host 0.0.0.0 --port $PORT"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.4
  - type: web
    name: frontend
    env: static
    region: oregon
    plan: free
    buildCommand: "npm install && npm run build"
    staticPublishPath: "frontend/dist"
    routes:
      - type: rewrite
        source: "/*"
        destination: "/index.html"
